<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,300&display=swap" rel="stylesheet">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light mb-3">
                <div class="container nav flex-column flex-md-row pl-1 pr-1">
                    <a class="navbar-brand" href="/"><img src="/svg/logo.svg" class="img-fluid" alt="Generic Hipster Coffee" width="150"/>
                    </a>
                    <ul class="navbar-nav mb-2 mb-lg-0 flex-row justify-content-evenly">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/coffee">Coffee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-6" href="/our-story">Our Story</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        {% block content %}{% endblock %}
        {#
                                        <!-- Optional JavaScript -->
                                        <!-- Bootstrap JS first and your own script at the end -->
                                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                                        <script src="js/custom.js"></script>
                                        #}
        <footer class="bg-dark">
            <div class="container rectangle d-flex align-items-end justify-content-center pb-5">
                <div>
                    <ul class="nav justify-content-center flex-row lh-base">
                        <li class="nav-item">
                            <a class="nav-link text-white active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/coffee">Coffee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/our-story">Our Story</a>
                        </li>
                    </ul>
                    <p class="text-white text-center fw-bold lead lh-base text-uppercase">#hipstersmakecoffee</p>
                    <p class="text-white text-center lh-base mb-0">Follow us on
                        <a href="#">Twitter</a>
                        and
                        <a href="#">Instagram</a>
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
