{% extends '_base.njk' %}
{% block title %}Index page{% endblock %}
{% block content %}
    <main class="container pt-3">
        <h1 class="text-uppercase">Generic Hipster Coffee</h1>
        <p class="text-uppercase h2">Specialty coffee, fresh food & local community.</p>
        <img src="/img/counter.jpg" class="img-fluid mb-4 mt-3" alt="Photo of cafe's inside"/>
        <div class="row">
            <div class="col-sm">
                <h4 class="text-uppercase mb-3">Opening hours</h4>
                <p>Sunday to Thursday: 8 am to 11 pm<br>
                    Friday to Saturday: 8 am to 1 am</p>
            </div>
            <div class="col-sm">
                <h4 class="text-uppercase mb-3">Book a table</h4>
                <p>
                    <a href="+1 415-321-4567" style="text-decoration: none" class="lh-1">&phone; Call +1 415-321-4567</a>
                </p>
            </div>
            <div class="col-sm">
                <h4 class="text-uppercase mb-3">Address</h4>
                <p>321 Ivy St.San Francisco, CA 94102</p>
            </div>
        </div>
        {# <map> #}
    </main>
{% endblock %}
