{% extends '_base.njk' %}
{% block title %}Generic Hipster Coffee{% endblock %}
{% block content %}
    <main class="container pt-3">
        <h1>Generic Hipster Coffee</h1>
        <p class="h2">Specialty coffee, fresh food & local community.</p>
        <img src="/img/counter_2.jpg" class="img-fluid mt-3 mb-4" alt="Photo of cafe's inside"/>
        <div class="row">
            <div class="col-sm">
                <h4>Opening hours</h4>
                <p>Sunday to Thursday: 8&nbsp;am&nbsp;to&nbsp;11&nbsp;pm<br>
                    Friday to Saturday: 8&nbsp;am&nbsp;to&nbsp;1&nbsp;am</p>
            </div>
            <div class="col-sm">
                <h4>Book a table</h4>
                <p>
                    <a href="+1 415-321-4567" style="text-decoration: none">&phone; Call +1 415-321-4567</a>
                </p>
            </div>
            <div class="col-sm">
                <h4>Address</h4>
                <p>321 Ivy St.<br/>
                    San Francisco, CA 94102</p>
            </div>
        </div>
        <div class="ratio ratio-16x9 bg-primary mb-n5">
            <div>16x9</div>
        </div>
        {# <map> #}
    </main>
{% endblock %}
