{% extends '_base.njk' %}
{% block title %}GHC Menu{% endblock %}
{% block content %}
    <main class="container pt-3">
        <h1 class="mb-0">Menu</h1>
        <section class="row mt-n4">
            <article class="col-sm-6 menu">
                <h2>Espresso Coffee</h2>
                <div class="row">
                    <p class=" col-8">Espresso</p>
                    <span class="col-4">3.8</span>
                    <p class=" col-8">Double espresso</p>
                    <span class="col-4">4.9</span>
                    <p class=" col-8">Americano</p>
                    <span class="col-4">5</span>
                    <p class=" col-8">Espresso machiato</p>
                    <span class="col-4">4.3</span>
                    <p class=" col-8">Cappuccino</p>
                    <span class="col-4">5.2</span>
                    <p class=" col-8">Flat White</p>
                    <span class="col-4">5.9</span>
                    <p class=" col-8">Latte</p>
                    <span class="col-4">5.9</span>
                    <p class=" col-8">Extra shot</p>
                    <span class="col">1.1</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h2>Iced</h2>
                <div class="row">
                    <p class=" col-8">Iced Latte</p>
                    <span class="col-4">6.9</span>
                    <p class=" col-8">Espresso on the rock</p>
                    <span class="col-4">4.9</span>
                    <p class=" col-8">Iced Cascara</p>
                    <span class="col-4">5.5</span>
                    <p class=" col-8">Affogato</p>
                    <span class="col-4">5.9</span>
                    <p class=" col-8">Iced Flat white</p>
                    <span class="col-4">5.9</span>
                    <p class=" col-8">Iced Filter</p>
                    <span class="col-4">5.8</span>
                    <p class=" col-8">Iced tea</p>
                    <span class="col-4">4.9</span>
                    <p class=" col-8">Iced chocolate</p>
                    <span class="col-4">6.2</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h2>Filter Coffee</h2>
                <div class="row">
                    <p class=" col-8">House Drip Coffee</p>
                    <span class="col-4">4.5</span>
                    <p class=" col-8">Aeropress</p>
                    <span class="col-4">5.5</span>
                    <p class=" col-8">V60</p>
                    <span class="col-4">6.5</span>
                    <p class=" col-8">Kalita</p>
                    <span class="col-4">12</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h2>Coffee Specialites</h2>
                <div class="row">
                    <p class=" col-8">Cascara</p>
                    <span class="col-4">4.9</span>
                    <p class=" col-8">Irish coffee</p>
                    <span class="col-4">10.9</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h2>Hot</h2>
                <div class="row">
                    <p class=" col-8">Tea</p>
                    <span class="col-4">4.9</span>
                    <p class=" col-8">Ginger tea</p>
                    <span class="col-4">4.5</span>
                    <p class=" col-8">Hot chocolate</p>
                    <span class="col-4">4.5</span>
                </div>
            </article>
        </section>
        <section class="row mt-3">
            <article class="col-sm-6 menu">
                <h2>Something To Eat</h2>
                <div class="row">
                    <p class=" col-8">Soup of the day</p>
                    <span class="col-4">5.8</span>
                    <p class=" col-8">Chipotle Citrus Chicken Sandwich</p>
                    <span class="col-4">5.4</span>
                    <p class=" col-8">Avocado Toast</p>
                    <span class="col-4">5.6</span>
                    <p class=" col-8">Super BLT Sandwich</p>
                    <span class="col-4">12.8</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h2>Sweets</h2>
                <div class="row">
                    <p class=" col-8">Homemade cakes of the day</p>
                    <span class="col-4">5</span>
                    <p class=" col-8">Key Lime and Coconut</p>
                    <span class="col-4">1.5</span>
                    <p class=" col-8">Icecream</p>
                    <span class="col-4">2</span>
                    <p class=" col-8">Tiramisu</p>
                    <span class="col-4">6</span>
                </div>
            </article>
        </section>
        <section class="row mt-5">
            <h2 class="mb-n2">Non-Alcoholic Beverages</h2>
            <article class="col-sm-6 menu">
                <h3>Lemonades</h3>
                <div class="row">
                    <p class=" col-8">Fresh Squeezed Lemonade</p>
                    <span class="col-4">5</span>
                    <p class=" col-8">Ginger Lemonade</p>
                    <span class="col-4">4.5</span>
                    <p class=" col-8">Cascara Fizz Original</p>
                    <span class="col-4">5.8</span>
                    <p class=" col-8">Club-mate Cola</p>
                    <span class="col-4">4.5</span>
                    <p class=" col-8">Tonic Thomas Henry</p>
                    <span class="col-4">4.3</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h3>Water</h3>
                <div class="row">
                    <p class=" col-8">Sparkling</p>
                    <span class="col-4">2.4</span>
                    <p class=" col-8">Still</p>
                    <span class="col-4">2.4</span>
                </div>
            </article>
        </section>
        <section class="row mt-5">
            <h2 class="mb-n2">Alcoholic Beverages</h2>
            <article class="col-sm-6 menu">
                <h3>Beer</h3>
                <div class="row">
                    <p class=" col-8">Small breweries on tap</p>
                    <span class="col-4">3.5</span>
                    <p class=" col-8">Birell (bottled)</p>
                    <span class="col-4">3.5</span>
                    <p class=" col-8">Cider Magnetic Apple</p>
                    <span class="col-4">4.5</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h3>White Wine</h3>
                <div class="row">
                    <p class=" col-8">Chardonnay Les Vignes de L'Arque, France</p>
                    <span class="col-4">3.5</span>
                    <p class=" col-8">Sauvignon Blanc, Château Le Sartre Blanc 2011</p>
                    <span class="col-4">3.8</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h3>Red Wine</h3>
                <div class="row">
                    <p class=" col-8">Cuvée Côtes du Rhône Vigneros de Caracterem</p>
                    <span class="col-4">3.5</span>
                    <p class=" col-8">Cabernet Sauvignon, Château Tour du Roch-Milon 2011</p>
                    <span class="col-4">3.5</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h3>Cocktails</h3>
                <div class="row">
                    <p class=" col-8">Gin Tonic</p>
                    <span class="col-4">9</span>
                    <p class=" col-8">Cuba Libre</p>
                    <span class="col-4">9.9</span>
                    <p class=" col-8">Mojito</p>
                    <span class="col-4">9.9</span>
                </div>
            </article>
            <article class="col-sm-6 menu">
                <h3>Spirits</h3>
                <div class="row">
                    <p class=" col-8">Metaxa 12*</p>
                    <span class="col-4">7.5</span>
                    <p class=" col-8">Tullamore Dew</p>
                    <span class="col-4">6.5</span>
                    <p class=" col-8">Jameson Whiskey</p>
                    <span class="col-4">6.5</span>
                    <p class=" col-8">Bombay, Añejo Suave</p>
                    <span class="col-4">6.8</span>
                    <p class=" col-8">Ron Cubay, Añejo Suave</p>
                    <span class="col-4">6.5</span>
                    <p class=" col-8">Tequila, El Jimador, Reposado</p>
                    <span class="col-4">6.2</span>
                    <p class=" col-8">Vodka Finlandia</p>
                    <span class="col-4">5.5</span>
                    <p class=" col-8">Bailey's</p>
                    <span class="col-4">5.5</span>
                    <p class=" col-8">Jagermeister</p>
                    <span class="col-4">5.5</span>
                    <p class=" col-8">Graham's Tawny Porto</p>
                    <span class="col-4">4.7</span>
                </div>
            </article>
        </section>
    </div>
    <div class="ratio ratio-16x9 mt-3 mb-n5">
        <picture class="ratio ratio-16x9">
            <source srcset="
/img/espresso-detail-menu-page/webp/espresso-detail-w_270.webp 270w,
/img/espresso-detail-menu-page/webp/espresso-detail-w_752.webp 752w,
/img/espresso-detail-menu-page/webp/espresso-detail-w_1145.webp 1145w,
/img/espresso-detail-menu-page/webp/espresso-detail-w_1390.webp 1971w,
/img/espresso-detail-menu-page/webp/espresso-detail-w_1523.webp 1523w,
/img/espresso-detail-menu-page/webp/espresso-detail-w_1842.webp 1842w,
/img/espresso-detail-menu-page/webp/espresso-detail-w_2180.webp 2180w" src="/img/espresso-detail-menu-page/webp/espresso-detail-w_1145.webp" type="image/webp">
            <img srcset="
/img/espresso-detail-menu-page/jpg/espresso-detail-w_270.jpg 270w,
/img/espresso-detail-menu-page/jpg/espresso-detail-w_627.jpg 627w,
/img/espresso-detail-menu-page/jpg/espresso-detail-w_1141.jpg 1141w,
/img/espresso-detail-menu-page/jpg/espresso-detail-w_1351.jpg 1351w,
/img/espresso-detail-menu-page/jpg/espresso-detail-w_1550.jpg 1550w,
/img/espresso-detail-menu-page/jpg/espresso-detail-w_1928.jpg 1928w,
/img/espresso-detail-menu-page/jpg/espresso-detail-w_2180.jpg 2180w" src="/img/espresso-detail-menu-page/jpg/espresso-detail-w_1141.jpg" sizes="(min-width: 1200px) 2180px,
            (min-width: 992px) 1820px,
            (min-width: 768px) 1340px,
            (min-width: 576px) 980px,
            calc(100vw - 2 * 1.5625rem)
            " width="1090" height="613" alt="Espresso machine detail"/>
        </picture>
    </div>
</main>
{% endblock %}
