{% extends '_base.njk' %}
{% block title %}menu{% endblock %}
{% block content %}
    <main class="container pt-3">
        <h1 class="text-uppercase">Menu</h1>
        <div class="row">
            <section class="col-sm-6">
                <h2 class="text-uppercase lh-base">Espresso Coffee</h2>
                <div class="row">
                    <p class="lh-sm col-8">Espresso</p>
                    <div class="col-4">3.8</div>
                    <p class="lh-sm col-8">Double espresso</p>
                    <div class="col-4">4.9</div>
                    <p class="lh-sm col-8">Americano</p>
                    <div class="col-4">5</div>
                    <p class="lh-sm col-8">Espresso machiato</p>
                    <div class="col-4">4.3</div>
                    <p class="lh-sm col-8">Cappuccino</p>
                    <div class="col-4">5.2</div>
                    <p class="lh-sm col-8">Flat White</p>
                    <div class="col-4">5.9</div>
                    <p class="lh-sm col-8">Latte</p>
                    <div class="col-4">5.9</div>
                    <p class="lh-sm col-8">Extra shot</p>
                    <div class="col">1.1</div>
                </div>
            </section>
            <section class="col-sm-6">
                <h2 class="text-uppercase lh-base">Iced</h2>
                <div class="row">
                    <p class="lh-sm col-8">Iced Latte</p>
                    <div class="col-4">6.9</div>
                    <p class="lh-sm col-8">Espresso on the rock</p>
                    <div class="col-4">4.9</div>
                    <p class="lh-sm col-8">Iced Cascara</p>
                    <div class="col-4">5.5</div>
                    <p class="lh-sm col-8">Affogato</p>
                    <div class="col-4">5.9</div>
                    <p class="lh-sm col-8">Iced Flat white</p>
                    <div class="col-4">5.9</div>
                    <p class="lh-sm col-8">Iced Filter</p>
                    <div class="col-4">5.8</div>
                    <p class="lh-sm col-8">Iced tea</p>
                    <div class="col-4">4.9</div>
                    <p class="lh-sm col-8">Iced chocolate</p>
                    <div class="col-4">6.2</div>
                </div>
            </section>
        </div>
        <section>
            <h2 class="text-uppercase lh-base">Filter Coffee</h2>
            <p class="lh-sm">House Drip Coffee
                <span>4.5</span></p>
            <p class="lh-sm">Aeropress
                <span>5.5</span></p>
            <p class="lh-sm">V60
                <span>6.5</span></p>
            <p class="lh-sm">Kalita
                <span>12</span></p>
        </section>
        <section>
            <h2 class="text-uppercase">Coffee Specialites</h2>
            <p class="lh-sm">Cascara
                <span>4.9</span></p>
            <p class="lh-sm">Irish coffee
                <span>10.9</span></p>
        </section>
        <section>
            <h2 class="text-uppercase">Hot</h2>
            <p class="lh-sm">Tea
                <span>4.9</span></p>
            <p class="lh-sm">Ginger tea
                <span>4.5</span></p>
            <p class="lh-sm">Hot chocolate
                <span>4.5</span></p>
        </section>
        <section>
            <h2 class="text-uppercase">Something To Eat</h2>
            <p class="lh-sm">Soup of the day
                <span>5.8</span></p>
            <p class="lh-sm">Chipotle Citrus Chicken Sandwich
                <span>5.4</span></p>
            <p class="lh-sm">Avocado Toast
                <span>5.6</span></p>
            <p class="lh-sm">Super BLT Sandwich
                <span>12.8</span></p>
        </section>
        <section>
            <h2 class="text-uppercase">Sweets</h2>
            <p class="lh-sm">Homemade cakes of the day
                <span>5</span></p>
            <p class="lh-sm">Key Lime and Coconut
                <span>1.5</span></p>
            <p class="lh-sm">Icecream
                <span>2</span></p>
            <p class="lh-sm">Tiramisu
                <span>6</span></p>
        </section>
        <section>
            <h2 class="text-uppercase">Non-Alcoholic Beverages</h2>
            <section>
                <h3 class="text-uppercase">Lemonades</h3>
                <p class="lh-sm">Fresh Squeezed Lemonade
                    <span>5</span></p>
                <p class="lh-sm">Ginger Lemonade
                    <span>4.5</span></p>
                <p class="lh-sm">Cascara Fizz Original
                    <span>5.8</span></p>
                <p class="lh-sm">Club-mate Cola
                    <span>4.5</span></p>
                <p class="lh-sm">Tonic Thomas Henry
                    <span>4.3</span></p>
            </section>
            <section>
                <h3 class="text-uppercase">Water</h3>
                <p class="lh-sm">Sparkling
                    <span>2.4</span></p>
                <p class="lh-sm">Still
                    <span>2.4</span></p>
                <p class="lh-sm"></section>
            </section>
        </section>
        <section>
            <h2 class="text-uppercase">Alcoholic Beverages</h2>
            <section>
                <h3 class="text-uppercase">Beer</h3>
                <p class="lh-sm">Small breweries on tap
                    <span>3.5</span></p>
                <p class="lh-sm">Birell (bottled)
                    <span>3.5</span></p>
                <p class="lh-sm">Cider Magnetic Apple
                    <span>4.5</span></p>
            </section>
            <section>
                <h3 class="text-uppercase">White Wine</h3>
                <p class="lh-sm">Chardonnay Les Vignes de L'Arque, France
                    <span>3.5</span></p>
                <p class="lh-sm">Sauvignon Blanc, Château Le Sartre Blanc 2011
                    <span>3.8</span></p>
            </section>
            <section>
                <h3 class="text-uppercase">Red Wine</h3>
                <p class="lh-sm">Cuvée Côtes du Rhône Vigneros de Caracterem
                    <span>3.5</span></p>
                <p class="lh-sm">Cabernet Sauvignon, Château Tour du Roch-Milon 2011
                    <span>3.5</span></p>
            </section>
            <section>
                <h3 class="text-uppercase">Cocktails</h3>
                <p class="lh-sm">Gin Tonic
                    <span>9</span></p>
                <p class="lh-sm">Cuba Libre
                    <span>9.9</span></p>
                <p class="lh-sm">Mojito
                    <span>9.9</span></p>
            </section>
            <section>
                <h3 class="text-uppercase">Spirits</h3>
                <p class="lh-sm">Metaxa 12*
                    <span>7.5</span></p>
                <p class="lh-sm">Tullamore Dew
                    <span>6.5</span></p>
                <p class="lh-sm">Jameson Whiskey
                    <span>6.5</span></p>
                <p class="lh-sm">Bombay, Añejo Suave
                    <span>6.8</span></p>
                <p class="lh-sm">Ron Cubay, Añejo Suave
                    <span>6.5</span></p>
                <p class="lh-sm">Tequila, El Jimador, Reposado
                    <span>6.2</span></p>
                <p class="lh-sm">Vodka Finlandia
                    <span>5.5</span></p>
                <p class="lh-sm">Bailey's
                    <span>5.5</span></p>
                <p class="lh-sm">Jagermeister
                    <span>5.5</span></p>
                <p class="lh-sm">Graham's Tawny Porto
                    <span>4.7</span></p>
            </section>
        </section>
        <img src="/img/espresso-machine-detail.jpg" class="img-fluid" alt="Detail of espresso machine"/>
    </main>
{% endblock %}
