{% extends '_base.njk' %}
{% block title %}GHC Our story{% endblock %}
{% block content %}
    <main class="container pt-3">
        <h1 class="text-uppercase">Our story</h1>
        <p class="lead">
            GHC started as a project of two friends and passionate baristas, John & Don in 2010. Believing as much in the hand of an educated barista as in the innovative equipment of the our ever-growing industry, GHC offers a full spectrum of brewing opportunities - from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made with love, precision and care.
        </p>
        <div class="ratio ratio-16x9 mt-4 mb-n5">
            <picture class="ratio ratio-16x9">
                <source srcset="
/img/machine-ourstory-page/webp/machine-w_270.webp 270w,
/img/machine-ourstory-page/webp/machine-w_653.webp 653w,
/img/machine-ourstory-page/webp/machine-w_918.webp 918w,
/img/machine-ourstory-page/webp/machine-w_1107.webp 1107w,
/img/machine-ourstory-page/webp/machine-w_1409.webp 1409w,
/img/machine-ourstory-page/webp/machine-w_1672.webp 1672w,
/img/machine-ourstory-page/webp/machine-w_2180.webp 2180w" src="/img/machine-ourstory-page/webp/machine-w_1107.webp" type="image/webp">
                <img srcset="
/img/machine-ourstory-page/jpg/machine-w_270.jpg 270w,
/img/machine-ourstory-page/jpg/machine-w_480.jpg 480w,
/img/machine-ourstory-page/jpg/machine-w_738.jpg 738w,
/img/machine-ourstory-page/jpg/machine-w_1072.jpg 1072w,
/img/machine-ourstory-page/jpg/machine-w_1350.jpg 1350w,
/img/machine-ourstory-page/jpg/machine-w_2180.jpg 2180w" src="/img/machine-ourstory-page/jpg/machine-w_1072.jpg" sizes="
            (min-width: 1200px) 1090px,
            (min-width: 992px) 910px,
            (min-width: 768px) 670px,
            (min-width: 576px) 490px,
            calc(100vw - 2 * 1.5625rem)" width="1090" height="613" alt="Professional espresso machine"/>
            </picture>
        </div>
    </main>
{% endblock %}
