h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.navbar-brand {
    width: clamp(6.25rem, 4.3238rem + 9.6308vw, 9.38rem);
}

.coffees .col {
    margin-bottom: 2.25rem;
}

.menu {
    margin-top: 3.5rem;
}
